__pycache__/
*.pyc
.venv/
.pytest_cache/
.env
*.db
.git/
.gitignore
.pytest_cache
.piptoml
.pypoetry
.ruff_cache
.mypy_cache
node_modules/
frontend/node_modules/
frontend/src/
.vulnscout_models/
*.sh
.pki/
.pki3/
miniconda3/
